{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css">
    <title>Document</title>
</head>
<body><br>
<table>
    <h2>REPORT</h2>
    <br>
    <br>
    <tr>
        <th>NAME</th>
        <th>PLAGARISM(%)</th>
        <th></th><th></th>
    </tr>
{% for z in z %}
    <tr>
        <td>{{z.rollno}}</td>
        <td>{{z.score}}{{' %'}}</td>

        <td colspan=2><table><tr><th></th><th></th></tr>
       {{z.mess|safe}}
       </table></td>
    </tr>
{% endfor %}

</table>

</body>
</html>